ansible==2.1.0.0
beautifulsoup4==4.4.1
betterpath==0.2.2
boto==2.39.0
bs4==0.0.1
cffi==1.6.0
chainer==1.9.0
click==6.6
cryptography==3.3.2
cycler==0.10.0
Django==1.9.4
ecdsa==0.13
enum34==1.1.6
et-xmlfile==1.0.1
feedparser==5.2.1
filelock==2.0.6
Flask==0.11.1
funcsigs==1.0.2
gevent==1.1.1
greenlet==0.4.10
gunicorn==19.6.0
idna==2.1
image==1.4.4
IndicoIo==0.15.3
ipaddress==1.0.16
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
l==0.11.0
locustio==0.7.5
MarkupSafe==0.23
matplotlib==1.5.3
mock==2.0.0
msgpack-python==0.4.8
MySQL-python==1.2.5
nose==1.3.7
numpy==1.11.0
openpyxl==2.3.5
paramiko==2.0.0
pbr==1.10.0
Pillow==3.1.1
protobuf==3.0.0b2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
PyMySQL==0.7.2
pyparsing==2.1.9
pysftp==0.2.8
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.11
pyzmq==15.4.0
redis==2.10.5
requests==2.10.0
scipy==0.18.0
six==1.10.0
tensorflow==0.8.0
vcversioner==2.16.0.0
Werkzeug==0.11.11
xlsx2csv==0.7.2
zope.interface==4.3.2
